h1 {
  font-family: monospace;
  font-size: 100px;
  text-align: center;
  line-height: 30%;
}

.intro {
  font-size: 35px;
  text-align: center;
  font-style: italic;
}

p {
  margin: 15px;
  border:30px dotted black;
  padding: 15px;
  background-color: #fffef4;
}

h2 {
  text-align: center;
  font-family:fantasy;
  font-weight: bolder;
  font-size: 60px;
}

img {
  width: 50%;
  float: left;
  margin: 15px;
  border:3px dashed black;
  padding: 10px;
  background-color: #fffef4;
}

.dogcolumns p {
  width: 40%;
  float: left;
  font-size: 24px;
  font-family: monospace;
}


@media screen and (max-width: 480px) {
  .dogcolumns p {
    width: 100%;
    float:  none;
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
  }

  .intro {
    font-size: 18px;
  }

  p {
    margin: 3px;
    border:8px dotted black;
    padding: 3px;
  }

  h2 {
    font-size: 22px;
  }

  img {
    width: 50%;
    float: left;
    margin: 3px;
    border:3px dashed black;
    padding: 3px;
  }

}
