h1 {
  font-family: monospace;
  font-size: 100px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.intro {
  font-size: 35px;
  text-align: center;
  font-style: italic;
}

p {
  align-items: center;
  border: 30px dotted black;
  padding: 15px;
  background-color: #fffef4;
}

h2 {
  text-align: center;
  font-family:fantasy;
  font-weight: bolder;
  font-size: 60px;
}

img {
  width: 50%;
  float: left;
  margin: 15px;
  border: 3px dashed black;
  padding: 10px;
  background-color: #fffef4;
}

.dogcolumns p {
  width: 40%;
  float: left;
  font-size: 24px;
  font-family: monospace;
}

body {
  text-align: center;
  align-items: center;
}

.btn#dark {
  background-color: grey;
  color: white;
}

.btn {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.dark-background {
  background-color: black;
}

.dark-background h1 {
  color: white;
}

.dark-background h2 {
  color: white;
}

.dark-background p {
  color: white;
  background-color: black;
    border: 20px dotted white;
}

@media screen and (max-width: 600px) {
  .dogcolumns p {
    width: 100%;
    float:  none;
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
  }

  .intro {
    font-size: 18px;
  }

  p {
    margin: 3px;
    border: 8px dotted black;
    padding: 3px;
  }

  h2 {
    font-size: 22px;
  }

  img {
    margin: 3px;
    border: 3px dashed black;
    padding: 3px;
  }

}



@media screen and (max-width: 1400px) and (min-width: 600px) {
  .dogcolumns p {
    width: 40%;
    float:  left;
    font-size: 24px;
  }

  h1 {
    font-size: 50px;
  }

  .intro {
    font-size: 40px;
  }

  p {
    margin: 6px;
    border: 16px dotted black;
    padding: 6px;
  }

  h2 {
    font-size: 22px;
  }

  img {
    margin: 6px;
    border: 6px dashed black;
    padding: 6px;
  }

}
